<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <title>Anime Asset Maker</title>
    </head>
    <body>
        {% include "anime_asset/header.html" %}

        <table class="table">
            <tr>
                <td>
                  <form action="/post-background" method="post">
                        <label>Original</label>
                        <input type="text" id="name" />
                        <button type="submit" class="btn btn-secondary float-right">Load</button>
                  </form>
                </td>
                <td>
                  Style1
                  <button type="button" class="btn btn-secondary">Save</button>
                </td>
                <td>
                  Style2
                  <button type="button" class="btn btn-secondary">Save</button>
                </td>
            </tr>
            <tr>
                <td>
                <img src="static/img/black.png" id="original" class="img-fluid" style="width:512px; height:512px">
              </td>
              <td>
                <img src="static/img/black.png" class="img-fluid" style="width:512px; height:512px">
              </td>
              <td>
                <img src="static/img/black.png" class="img-fluid" style="width:512px; height:512px">
            </td>
            </tr>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>