<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <title>Anime Asset Maker</title>
    </head>
    <body>
        {% include "anime_asset/header.html" %}
        <div id="div1" style="border: solid;width:400px; height:400px; "></div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                // var get_request = $.ajax({
                //     type: 'GET',
                //     "headers": {
                //         "accept": "application/json",
                //         "Access-Control-Allow-Origin":"*"
                //     },
                //     url: 'https://www.naver.com/',
                //     });
                $("#div1").load("https://www.google.com");
            });
        </script>
    </body>
</html>